<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ThemeColor" value="#CC96F9"/>
    <add key="IsDark" value="true"/>
	<add key="RemindTime" value="35"/>
	<add key="AccuMode" value="true"/>
	<add key="Slogan" value="早睡早起，行动解决一切问题"/>
	<add key="StartTime" value="06:00:00"/>
	<add key="ImportDirectory" value="C:\Temp"/>
	<add key="OutputDirectory" value="C:\Temp"/>
	<add key="RestContent" value="休息"/>
  </appSettings>
</configuration>