<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ThemeColor" value="#FFFF80AB" />
		<add key="IsDark" value="True" />
		<add key="RemindTime" value="35" />
		<add key="AccuMode" value="true" />
		<add key="Slogan" value="何以解忧，唯有行动" />
		<add key="StartTime" value="06:00:00" />
		<add key="ImportDirectory" value="E:\BaiduSyncdisk" />
		<add key="OutputDirectory" value="E:\BaiduSyncdisk" />
		<add key="RestContent" value="休息" />
	</appSettings>
</configuration>